<%= render 'navbar'%>

<div class="container">
  <h1>Home Page!</h1>
  <div class = "row">
    <% @lists.each do |list| %>
      <div class="col-12">
        <%= link_to list_path(list) do%>
        <%= list.name%>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= link_to 'Create new list', new_list_path, class:'btn btn-primary' do%>
  <% end %>
</div>
